.full_page {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.container {
    width: 1064px;
    margin: 0px auto;
}
/* ========================================Header======================================= */
.space_add {
    padding-top: 46px;
}
.first_block {
    float: left;
}
div.logo{
    width: 46px;
    height: 44px;
    background-image: url(../img/logo.png);
    margin-right: 15px;
    float: left;
}
div.logo_text p{
    font-family:Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    display: inline-block;
    text-decoration: none;
}
.logo_text .milan {
    font-size: 29px;
    padding-bottom:5px; 
}
.first_block:hover .logo {
    background-image: url(../img/logo2.png);   
    }
.first_block:hover p {
    color:  #f26522;
    }
.second_block {
    float: right;
    text-align: right;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.second_block a {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}
/* =======================================Section===================================== */
section a{
    font-family:Verdana, sans-serif;
    color: #ffffff;
    line-height: 21px;
    text-decoration: none;
    text-align: center; 
    float: left;
}
.popUp {
    padding: 7px;
    width: 312px;
    background-color: #f26522;
    position: absolute;
    bottom: -62px;
}
.actions {
    margin: 0px 32px 20px;
    box-sizing: border-box;
    background-image:linear-gradient(white, black);
    box-shadow: 0px 17px 24px 0px #000000;
    overflow: hidden;
    position: relative;   
}
.actions img {
    margin: 2px;
}
.actions:hover .popUp {
    transition-duration: 600ms;
    bottom: 0px;
  }
  .text-after{
      margin-bottom: 46px;
  }
  a:hover >.text-after{
    color:#f26522;    
  }
  .firstrow{
    margin: 0px 32px 20px 0;   
}
  .lastrow {
    margin: 0px 0px 20px 32px;  
  }
.first-word {
    font-size: 10px;
    line-height: 2.1;
    text-align: left;
    float: left;
    padding-left: 25px;  
}
.price {
    text-align: left;
    font-size: 20px;
    line-height: 1.05px;
    float: left;
    padding:5px 0 0 25px; 
}
.detail {
    float: right;
    padding-right: 20px;
    font-size: 14px;
}
.detail::after {
    content:" >"
}
/* =====================================Footer============================================== */
.copy_rigth {
    font-family:Verdana, sans-serif;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}