.full-page {
    background-image: url(../img/rana-sawalha-364253-unsplash.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}
.nav-background{
    background-color: rgba(0, 0, 0, 0.41);
    margin: 0 auto;
    padding-bottom: 17px;
    padding-top: 17px;
}
.nav-background h1 {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding-left: 80px;
    float: left;
}
.nav-background h1:hover {
    color: #3cb878;
}
 .float-Right {
    float: right;
} 
.right-nav-block div {
    margin-right: 32px;
}
.clearfix::after {
    content:  "";
    display: table;
    clear: both;
}
.header-icon1 {
    width: 19px; height: 19px;
    background: url('../img/css_sprites_original.png') -10px -50px;
}
.header-icon1:hover {
    width: 19px; height: 19px;
    background: url('../img/css_sprites.png') -10px -50px;
}
.header-icon2 {
    width: 28px; height: 20px;
    background: url('../img/css_sprites_original.png') -10px -10px;
}
.header-icon2:hover  {
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
}
.header-icon3 {
    width: 20px; height: 20px;
    background: url('../img/css_sprites_original.png') -58px -10px;
}
.header-icon3:hover  {
    width: 20px; height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;
} 
header p {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 0 75px 0 32px;
    border-left: solid 1px rgba(100, 100, 100, 0.5);
}
p a {
    color: #3cb878;
    text-decoration: none;
}
p a:hover {
    text-decoration: underline; 
}
/* ===================================Form======================================================= */
.main-form-block {
    max-width: 444px;
    box-sizing: border-box;
    margin: 5% auto;
    padding: 25px 60px 25px 60px;
    background-color: #ffffff;   
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    position: relative;
}
.square {
    position: absolute;
    top:28px;
    left: 0px;
    background-color: #329a65; 
    width: 20px;
    height: 20px;
}
input[type=text], input[type=email], input[type=password],input[type=submit]{
    display: block;
    margin-top: 8px;
    height: 62px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    line-height: 21px;
    font-size: 14px;  
}
label {
    font-family: Verdana, sans-serif;
    color: #434343; 
  }
 label a{
    color: #3cb878;
    text-decoration: none;
 }
 label a:hover, .google-side .login:hover{
    text-decoration: underline;   
 }
input[type=checkbox] {
    display: none;
}
input[type=checkbox]+span::before {
    display: inline-block;
    content:"f";
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    height: 20px; 
    width: 20px;
    box-sizing: border-box;
    padding-left: 1px;
    padding-top: 1px;
    color: transparent;
    margin-right: 0.3em;
    margin-top: 0.8em;
    margin-bottom: 1.2em;
}
input[type=checkbox]:checked +span::before{
    content:url(../img/checkbox.png);
}
input[type=submit]{
    color: #ffffff;
    font-size: 16px;
    background-color: #329a65; 
}
input:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
 }
 .facebook-side {
    float: left;
}
.facebook-side h3 {
    font-family: Verdana, sans-serif;
    color: #434343;
    font-size: 20px;
    line-height: 21px;
    text-align: left;
}
 .facebook {
    border-radius: 3px;
    background-color: #305db8;
    width: 157px;
    height: 46px;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 9px 2px 9px 10px ;
}
.facebook img {
    padding: 4px 17px 4px 9px;
    border-right: 1px solid  rgba(0, 0, 0, 0.1); 
    float: left;
}
.google {
    border-radius: 3px;
    background-color: #c3412c;
    width: 157px;
    height: 46px;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 9px 2px 9px 10px ;
}
.google img {
    padding: 6px 9px 6px 1.5px;
    border-right: 1px solid  rgba(0, 0, 0, 0.1); 
    float: left;
}
.line {
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1); 
    line-height: 0.1em;
    text-align: center;
    margin: 0.8em 0;
 } 
 .line span { 
    font-family: Verdana, sans-serif;
    color: #848484;
    font-size: 14px;
    background:#fff; 
    padding:0 10px; 
 }
 .google-side {
    float: right;
    text-align: right;
 }
.google-side .login {
    font-family: Verdana, sans-serif;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; 
}
.form-top a{
    text-decoration: none;
}
.google p, .facebook p {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding-top: 6px
}
