
.standard {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
}
.ultimate {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 24px;
}
.premium {
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
}
.price {
    background-color: #fafafa;
    font-size: 18px;
}
.choose-plan-text {
font-weight: bold;
}
.pricing-plan {
    font-size: 30px;
}
.big-letters {
    display:block;
    float: left;
    font-size: 60px;
    font-weight: bold;
}
.price-details {
    padding: 5px 0 0 0;
    font-size: 16px;
    display:inline-block;
    text-align: left;
   }
.coins {
    font-size: 24px;
    font-weight: bold;
}
td,th {
    padding: 0 30px;
    height: 69px;
    text-align: center;
    box-shadow: inset -3px 0px 6px -3px rgba(0, 0, 0, 0.27);
    vertical-align:middle;
}
tr:nth-child(even) {
    background-color: #e3e3e3;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
table {
    border-top: 22px solid #3a4965; 
    border-right: 30px solid #3a4965; 
    border-bottom: 30px solid #3a4965; 
    border-left: 22px solid #3a4965; 
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 16px;
    margin: 2% auto;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  width: 60%;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
}
@keyframes shake {
    0% {transform: rotate(2deg);}
    25% {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(1deg);}
  }
.button:hover
{
 animation-name:shake;
 animation-duration: 100ms;
}
.contact-us {
    background-color:#484848;
    box-shadow: 0 6px #424242; 
}
.contact-us:active {
    background-color: #484848;
    box-shadow: 0 3px #424242; 
    transform: translateY(3px);
  }
  .buy-now1 {
    background-color:#89c331;
    box-shadow: 0 6px #79b027; 
}
.buy-now1:active {
    background-color: #89c331;
    box-shadow: 0 3px #79b027;
    transform: translateY(3px);
  }
  .buy-now2 {
    background-color:#f04a56;
    box-shadow: 0 6px #df3a46;
}
 .buy-now2:active {
    background-color:#f04a56;
    box-shadow: 0 3px #df3a46;
    transform: translateY(3px);
  }
  .buy-now3 {
    background-color:#20807c;
    box-shadow: 0 6px #16736f; 
}
  .buy-now3:active {
    background-color: #20807c;
    box-shadow: 0 3px #16736f;
    transform: translateY(3px);
  }
i {
    padding-right:10px;
    color: #848484;
}