/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, 
h1, h2, p, a, img, 
ul, li, footer, header
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer, header {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}