.container
{
width: 1280px;
margin: 0 auto; 
letter-spacing: 3px; 
}
h1,
.button-content,
.topnav {
  text-transform: uppercase;
}

/* =================================================Header====================================================== */
.topnav{
  text-align: center;
}
.topnav li {
  display: inline-block;
  margin: 32px 35px 32px 35px;
}
.topnav a{
  font-family: 'Roboto', sans-serif;
  color: #16a085;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  text-decoration: none;
  }
/*==========================================Content========================================================== */
.content{
  background-color:#f5f6f7;
  font-family: 'Roboto', sans-serif;
  color: #373737;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  text-align: center; 
}
.content h1{
font-size: 22px;
}
.text {
  margin: 55px 110px;
}
.button-content{
  display: inline-block;
  border-radius: 3px;
  background-color: #16a085;
  width: 192px;
  height: 51px;
  text-decoration: none; 
  margin-bottom: 91px;
}
.button-content p{
  font-family: GothamRounded;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 17px 0 0 0;
}
/*=========================================================Footer==================================================== */
.copyright {
  font-family: Roboto;
  color: #373737;
  font-size: 16px;/* Approximation due to font substitution */
  font-weight: 900;
  text-align: right;
  padding: 46px 105px 46px 0;
}
