
.container {
    width: 1280px;
    margin: 47px auto;
}
/* ======================Navigation bar + LOGO======================================================*/
.bluetext {
    font-family: 'Myriad Pro',sans-serif;
    color: #4bcaff;
    font-size: 80px;
    text-decoration: none;
}
.bluetext span {
    color: #000000;
}
 /* ========== navigation bar ========= */
.nav{
    margin-top: 40px;
    background-color: #35444f;
    text-align: center;
    overflow: hidden;
}
.nav li {
    display: inline-block; 
    padding: 22px 42px;
    font-family: 'Myriad Pro', sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-align: left;
    border-right:1px solid #35444f;
    border-left:1px solid #35444f;
}
.nav a {
    text-decoration: none;
}
.nav li:hover {
    background-color: #222f3a;
    border-right:1px solid #ffffff;
    border-left:1px solid #ffffff;
}
/* ======================================Section========================================================= */
.block1 {
    border: 1px solid black;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.block2 {
    width: 75%;
    display: inline-block;
    box-sizing: border-box;
}
.img_border {
    border: 1px solid black;
    width: 885px;
    height:529px;
    margin: 0 0 47px 72px;
    text-align: center;
}
img {
    padding: 74px;
}
.block2 .text_content {
    font-family: 'Myriad Pro', sans-serif;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    padding: 0px 47px 0px 94px; 
}
.block1 li {
    list-style-type: none;
}
.block1 a {
    font-family: 'Myriad Pro', sans-serif;
    display: block;
    color: #495863;
    font-size: 27px;
    text-align: left;
    text-decoration: none;
    padding: 27px 0 27px 42px;
}
.block1 a:hover {
   background-color: #dbdbdb;
   padding-left: 70px;
   color: #000000;
   transition-duration:600ms; 
}
/* ==================================Navigation bar bottom==========================================*/
footer {
    background-color: #b4b7ba;
}
.nav_bottom {   
    display: inline-block;
    width: 75%;
    text-align: center; 
}
.nav_bottom a {
    color: #0c1927;
    font-size: 28px;
    text-align: left;
}
.nav_bottom a:hover {
    color: #3181a6;
    border-bottom: 2px solid currentColor;
    }
.nav_bottom li {
    display: inline-block;
    padding: 20.5px 20px;
 }
.nav_bottom a {
    font-family: 'Myriad Pro', sans-serif;
    color: #0c1927;
    font-size: 28px;
    text-align: left;
    text-decoration: none;
}
.copyright{
    display: inline-block;
    font-family: 'Myriad Pro', sans-serif;
    color: #010000;
    font-size: 24px;
    width: 25%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 47px;
}
